CAREKEEPER_API_URL=https://telemed-be-maua72ti2a-as.a.run.app/api/v2/device/add_health
CAREKEEPER_API_KEY_HEADER=api-key
CAREKEEPER_API_KEY=test

Measurement history API
CAREKEEPER_HISTORY_API_URL=https://telemed-be-maua72ti2a-as.a.run.app/api/v2/device/health_history
CAREKEEPER_HISTORY_PATIENT_ID_PARAM=patient_id
CAREKEEPER_HISTORY_MAC_PARAM=mac

Device configuration
CAREKEEPER_BP_PORT=/dev/ttyUSB0
CAREKEEPER_H59_DEVICE_NAME=H59_D105
CAREKEEPER_H59_DEVICE_ADDRESS=EC9C2DA6-F503-4660-0ABB-3ABFA92F9E5D