CAREKEEPER_API_URL= POST API URL for adding health data
CAREKEEPER_API_KEY_HEADER=api-key
CAREKEEPER_API_KEY=test

CAREKEEPER_HISTORY_API_URL= GET API URL for retrieving health history
CAREKEEPER_HISTORY_PATIENT_ID_PARAM=patient_id
CAREKEEPER_HISTORY_MAC_PARAM=mac

CAREKEEPER_BP_PORT= PORT for blood pressure device
CAREKEEPER_H59_DEVICE_NAME= Name of the H59 device
CAREKEEPER_H59_DEVICE_ADDRESS= Bluetooth address of the H59 device
